[wire\:loading], [wire\:loading\.delay], [wire\:loading\.inline-block], [wire\:loading\.inline], [wire\:loading\.block], [wire\:loading\.flex], [wire\:loading\.table], [wire\:loading\.grid], [wire\:loading\.inline-flex] {
    display: none;
}
[wire\:loading\.delay\.shortest], [wire\:loading\.delay\.shorter], [wire\:loading\.delay\.short], [wire\:loading\.delay\.long], [wire\:loading\.delay\.longer], [wire\:loading\.delay\.longest] {
    display: none;
}
[wire\:offline] {
    display: none;
}
[wire\:dirty]:not([wire\:dirty\.class]):not([wire\:dirty\.attr]) {
    display: none;
}

/* Transitions support */
.wire-transition-fade {
    transition: opacity 0.15s linear;
}
.wire-transition-fade.wire-loading {
    opacity: 0.5;
}
