name: VS Code Extension

on:
  push:
    branches: ["main"]
    paths:
      - "vs-kire/**"
  pull_request:
    branches: ["main"]
    paths:
      - "vs-kire/**"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
      
      - name: Install dependencies
        run: bun install

      - name: Build Extension
        run: cd vs-kire && bun install && bun run build